
.basic {
  background-color: crimson;
  }
  
  
  .popup {
    display: block;
    background-color: rebeccapurple;
  }
  
  
  .embed {
    position: static;
    background-color: red;
  }
  

  .bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: pink;
  }
  
  .form-popup > #studentDetailsForm > .form-group{
    padding: 20px;
  }
